<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment :: header (title=${title})"></head>
<body>
<nav th:replace="_fragment :: navigator"></nav>
<div th:replace="_fragment :: message"></div>
<div class="container">
    <div class="subject">
        <h1 th:text="${title}">title</h1>
    </div>
    <div>
        <form action="query" method="POST" class="form-horizontal" th:action="@{/query}">
            <div class="form-group">
                <label class="col-sm-4 control-label">Id</label>
                <div class="col-sm-8">
                    <p class="form-control-static" th:text="${query.id}">id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Key</label>
                <div class="col-sm-2">
                    <p class="form-control-static" th:text="${query.key}">key</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Screen name</label>
                <div class="col-sm-5">
                    <p class="form-control-static" th:text="${query.name}">name</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">SQL</label>
                <div class="col-sm-5">
                    <textarea name="sql" class="form-control input-sm" rows="8" readonly="readonly"
                              placeholder="SELECT COL1, COL2, ... &#13;&#10;FROM TBL&#13;&#10;WHERE COL1= ...&#13;&#10;&#13;&#10;':date' accepts a date."
                              th:text="${query.sql}"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">View</label>
                <div class="col-sm-4">
                    <select class="form-control" disabled="disabled">
                        <option value="table" th:selected="${query.view == 'table'}">Table</option>
                        <option value="line" th:selected="${query.view == 'line'}">Line chart</option>
                        <option value="line-summary" th:selected="${query.view == 'line-summary'}">Line summary chart</option>
                        <option value="snowcover" th:selected="${query.view == 'snowcover'}">Snowcover chart</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Author</label>
                <div class="col-sm-2">
                    <p class="form-control-static" th:text="${query.author}">author</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-2">
                    <button id="button-register" type="button" class="btn btn-default">Back</button>
                </div>
            </div>
        </form>
    </div>
</div><!-- /.container -->

<footer th:replace="_fragment :: footer"></footer>
<script th:inline="javascript">
/*<![CDATA[*/
$('#button-register').on('click', function() {
    location.href = /*[[ @{/query} ]]*/ '#';
});
/*]]>*/
</script>
</body>
</html>
