<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment :: header (title=${title})"></head>
<body>
<nav th:replace="_fragment :: navigator"></nav>
<div th:replace="_fragment :: message"></div>
<div class="container">
    <div class="subject">
        <h1 th:text="${title}">title</h1>
        <p class="lead"></p>
    </div>
    <div>
        <table id="table" class="table table-hover table-condensed table-list">
            <thead>
            <tr class="active">
                <th class="fott-col-id">Id</th>
                <th class="fott-col-url">URL</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="history : ${histories}">
                <td class="fott-id filter-value id" th:text="${history.id}">id</td>
                <td class="fott-url filter-value url" th:text="${history.url}"
                    data-container="body" data-toggle="popover"
                    data-placement="top" data-trigger="hover">url</td>
            </tr>
            </tbody>
        </table>
    </div>
</div><!-- /.container -->

<footer th:replace="_fragment :: footer"></footer>
<script th:inline="javascript">
/*<![CDATA[*/

/**
 * fott
 */
$('.fott-col-id').fott({fieldFilter: 'fott-id', inputClasses: 'form-control input-sm', placeholder: 'id'});
$('.fott-col-url').fott({fieldFilter: 'fott-url', inputClasses: 'form-control input-sm', placeholder: 'url'});

/**
 * popover
 */
$('[data-toggle=popover]').popover({
    content:function() {
        return $(this).text();
    }
});

/*]]>*/
</script>
</body>
</html>
