body {
    padding-top: 80px;
}

body > .container {
    margin-bottom: 2.0em;
}

.subject {
    padding: 20px 15px;
    text-align: center;
}

table ul {
    padding-left: 0;
    margin-bottom: 0;
}

table ul li {
    list-style: none;
}

.table-list tbody tr:hover {
    cursor: pointer;
}

.navbar-inverse {
    background-color: #9aa;
    /*background-color: #36c;*/
    border-color: #899;
    /*border-color: #2548b2;*/
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-text,
.navbar-inverse .navbar-link,
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #abb;
    /*background-color: #47d;*/
}

.navbar-inverse .navbar-text.navbar-right a:hover {
    text-decoration: none;
}

.navbar-brand img {
    float: left;
    margin-left: -6px;
    margin-right: 8px;
    margin-top: -2px;
}

.navbar-right .glyphicon {
    margin-left: 8px;
    margin-right: -6px;
}

th div.filter,
th div.filter input {
    display: inline;
}

th div.filter input {
    margin-left: 0.5em;
}

th input.form-control.input-sm {
    height: 1.7em;
    width: 6.0em;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cell-desc {
    max-width: 32.0em;
}

.cell-repoTags,
.cell-names,
.cell-ports {
    max-width: 16.0em;
}

#binds select {
    -webkit-appearance: none;
}

#binds .input-group .form-control:first-child {
    border-bottom-left-radius: 0;
}

#binds .input-group .form-control:nth-last-child(2) {
    border-bottom-left-radius: 4px;
}

#binds .input-group .form-control:nth-child(n+1) {
    margin-top: -1px;
}

#binds .input-group button {
    height: 88px;
    margin-top: -1px;
}

#binds .input-group {
    margin-bottom: 6px;
}


#navigator .contents {
    width: 1008px;
    /*width: 936px;*/

    margin-left: auto;
    margin-right: auto;
}

#navigator .list-unstyled {
    margin-top: 16px;
}

#navigator li .btn,
#navigator li em {
    margin: 4px 8px;
}

#navigator li .btn {
    width: 112px;
}

#navigator li em {
    height: 34px;

    font-style: normal;
    display: inline-block;
    box-sizing: border-box;
}

#dashboard button {
    width: 100%;
    height: 4.0em;

    margin-bottom: 2.0em;
}

.btn-info {
    background-color: #9aa;
    border-color: #899;
}

.btn-info:hover,
.btn-info:focus {
    background-color: #abb;
    border-color: #9aa;
}

.label-info {
    background-color: #abb;
}

.btn-separator {
    border-style: dashed;
}

.rotate-message-contents {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

tspan {
    font-size: x-small;
}

#line-summary #chart-raw,
#line-summary #chart-sum,
#line-summary .table-container {
    height: 320px;
}

#line-summary #table-raw,
#line-summary #table-sum {
    height: 300px;
    overflow: auto;
}

#line #chart-raw,
#line .table-container {
    height: 480px;
}

#line #table-raw {
    height: 460px;
    overflow: auto;
}

#snowcover #chart-raw,
#snowcover .table-container {
    margin-top: 20px;
    height: 320px;
}

#snowcover #table-raw {
    height: 300px;
    overflow: auto;
}

#snowcover #table-raw th,
#snowcover #table-raw td {
    font-size: small;
}

#dashboard .col-sm-6 {
    margin-bottom: 2.0em;
}

#dashboard div[data-view=table] {
    height: 300px;
    overflow: auto;
}

#message {
    z-index:1;
    margin-top:30px;

    background-color: rgba(170, 187, 187, 0.5);
}

#message .container {
    top: 30px;
}

#message .container,
#message .container p {
    position:relative;
}

#message .container p {
    width:100%;
    top: 9px;

    white-space:nowrap;
}
