<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment :: header (title=${title})"></head>
<link href="resources/c3/css/c3.min.css" th:href="@{/resources/c3/css/c3.min.css}" rel="stylesheet" type="text/css"/>
<body>
<nav th:replace="_fragment :: navigator"></nav>
<div id="line-summary" class="container">
    <div class="subject">
        <h1 th:text="${name}">name</h1>
    </div>
    <div>
        <div class="col-sm-5">
            <h4>Raw</h4>
            <div class="table-container">
                <div id="table-raw"></div>
            </div>
            <h4>Summary</h4>
            <div class="table-container">
                <div id="table-sum"></div>
            </div>
        </div>
        <div class="col-sm-7">
            <h4>Raw</h4>
            <div id="chart-raw"></div>
            <h4>Summary</h4>
            <div id="chart-sum"></div>
        </div>
    </div>
</div><!-- /.container -->

<footer th:replace="_fragment :: footer"></footer>
<script src="resources/d3/js/d3.min.js" th:src="@{/resources/d3/js/d3.min.js}"></script>
<script src="resources/c3/js/c3.min.js" th:src="@{/resources/c3/js/c3.min.js}"></script>
<script src="resources/application/js/chart.js" th:src="@{/resources/application/js/chart.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/

$(document).on('ready', function() {
    var url = /*[[ @{/api/v1/chart/} ]]*/ '#';
    var key = /*[[ ${key != null ? key : ''} ]]*/ '';

    $.ajax({
        // endpoint
        type: 'GET',
        url: url + key,
        // request
        contentType: 'application/json',
        processData: false,
        // response
        dataType: 'json'
    }).done(function(data, textStatus, jqXHR) {
        renderLineChart('#chart-raw', data);
        renderTable('#table-raw', data);
    });

    $.ajax({
        // endpoint
        type: 'GET',
        url: url + key + '/summary',
        // request
        contentType: 'application/json',
        processData: false,
        // response
        dataType: 'json'
    }).done(function(data, textStatus, jqXHR) {
        renderLineChart('#chart-sum', data);
        renderTable('#table-sum', data);
    });
});

/*]]>*/
</script>
</body>
</html>
