<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ja" th:fragment="header (title)">
    <meta charset="UTF-8"/>
    <title th:text="${title} + ' - vis'">title</title>
    <link rel="icon" href="resources/application/img/favicon.ico" th:href="@{/resources/application/img/favicon.ico}"/>
    <link href="resources/bootstrap/css/bootstrap.min.css" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="resources/application/css/style.css" th:href="@{/resources/application/css/style.css}" rel="stylesheet"/>
</head>
<body>
<nav th:fragment="navigator" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/}"><img
                    src="resources/application/img/vis.png"
                    th:src="@{/resources/application/img/vis.png}"
                    width="24px" height="24px"/> vis</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       data-hover="dropdown" data-delay="50" data-close-others="false"
                       role="button" aria-expanded="false">Preference <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="navigator">
                        <li><a href="#" th:href="@{/query}">Query list</a></li>
                        <li><a href="#" th:href="@{/query/register}">Query register</a></li>
                        <li class="divider"></li>
                        <li><a href="#" th:href="@{/navigator}">Navigator</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<footer th:fragment="footer">
<script src="resources/jquery/js/jquery-1.11.2.min.js" th:src="@{/resources/jquery/js/jquery-1.11.2.min.js}"></script>
<script src="resources/bootstrap/js/bootstrap.min.js" th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
<script src="resources/bootstrap-hover-dropdown/js/bootstrap-hover-dropdown.min.js" th:src="@{/resources/bootstrap-hover-dropdown/js/bootstrap-hover-dropdown.min.js}"></script>
<script src="resources/jquery-fott/js/jquery.fott.min.js" th:src="@{/resources/jquery-fott/js/jquery.fott.min.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
$(document).on('ready', function() {
    var url = /*[[ @{/api/v1/navigator} ]]*/ '#';

    $.ajax({
        // endpoint
        type: 'GET',
        url: url,
        // request
        contentType: 'application/json',
        processData: false,
        // response
        dataType: 'json',
        statusCode: {
            400: function() {},
            404: function() {},
            500: function() {}
        }
    }).done(function(data, textStatus, jqXHR) {
        var $navbar = $('#navbar .navbar-nav:not(.navbar-right)');
        $navbar.hide();
        $navbar.children().remove();

        for (var i = 0; i < data.length; i++) {
            var header = data[i].header;
            var subitems = data[i].subitems;

            var $listTag = $('<li class="dropdown"></li>');
            var $anchorTag = $('<a href="#" class="dropdown-toggle" ' +
                'data-delay="50" data-close-others="false" ' +
                'role="button" aria-expanded="false"></a>');

            $navbar.append($listTag);
            $listTag.append($anchorTag);
            $anchorTag.append(header.name);
            $anchorTag.attr('href', header.url);

            if (subitems == null || subitems.length <= 0) {
                continue;
            }

            $anchorTag.append('&nbsp;<span class="caret"></span>');
            $anchorTag.attr('data-hover', 'dropdown');
            $anchorTag.attr('data-toggle', 'dropdown');

            var $subUnorderedListTag = $('<ul class="dropdown-menu" role="menu"></ul>');
            $listTag.append($subUnorderedListTag);

            for (var j = 0; j < subitems.length; j++) {
                var subitem = subitems[j];

                if (subitem.separator === '1') {
                    $subUnorderedListTag.append($('<li class="divider"></li>'));
                    continue;
                }

                var $subListTag = $('<li></li>');
                var $subAnchorTag = $('<a></a>');

                $subUnorderedListTag.append($subListTag);
                $subListTag.append($subAnchorTag);

                $subAnchorTag.append(subitem.name);
                $subAnchorTag.attr('href', subitem.url);
            }
        }

        $('.dropdown-toggle').dropdownHover();
        $navbar.show();
    }).fail(function(jqXHR, textStatus, errorThrown) {
        // nothing to do.
    }).always(function() {
        // nothing to do.
    });
});
/*]]>*/
</script>
</footer>
</body>
</html>